*, *::before, *::after {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
    --hue-neutral: 200;
}

body {
    --hue: var(--hue-neutral);
    padding: 0;
    margin 0;
    display: flex;
    width: 100vw;
    height 100vw;
    justify-content: center;
    align-items: center;

body.correct {
    --hue: var(--hue-correct);
}

body.wrong {
    --hue: var(--hue-wrong);
}

.container {
    width: 800px;
    max-width: 80%;
    background-color: aqua;
    border-radius: 10px
    padding: 10px;
}

.button-grid{
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.button {
    --hue: var(--hue-neutral);
    border: 1px solid hsl(var(--hue), 100%, 30%;
    background-color: hsl(var(--hue), 100%, 50%;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
}

.button:hover {
    border-color: black;
}

.button.correct {
    --hue: var(--hue-correct);
}

.button.wrong {
    --hue: var(--hue-wrong);
}

.start-button, .next-button{
    font-size: 15px;
    font-weight: bold;
    padding: 10px 20px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}